In [271]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [272]:
characters = ['Adam', 'Eve', 'God', 'Satan']
files = ['sp/' + character for character in characters]
contents = [open(file, encoding='utf-8', errors='ignore').read() 
            for file in files]

In [281]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(contents)
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()
denselist = dense.tolist()

In [282]:
df = pd.DataFrame(denselist, columns=feature_names, index=characters)
df

,abandon,abhor,abide,abject,abjure,able,abode,abolish,abominable,abortive,...,yoke,yon,yonder,you,younger,your,yours,youth,zodiac,zone
Adam,0.000000,0.001805,0.000000,0.000000,0.00229,0.002923,0.000000,0.00229,0.000000,0.001805,...,0.001805,0.003611,0.004780,0.000000,0.00229,0.001195,0.000000,0.00229,0.00229,0.00229
Eve,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.003393,0.000000,0.00000,0.003393,0.000000,0.00000,0.00000,0.00000
God,0.000000,0.000000,0.004788,0.000000,0.00000,0.003876,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.003169,0.000000,0.00000,0.006338,0.000000,0.00000,0.00000,0.00000
Satan,0.003159,0.002491,0.002491,0.006319,0.00000,0.002017,0.003159,0.00000,0.003159,0.002491,...,0.004982,0.002491,0.001649,0.031594,0.00000,0.047812,0.009478,0.00000,0.00000,0.00000

In [278]:
s = pd.Series(df.loc['Adam'])
s[s > 0].sort_values(ascending=False)[:10]

and     0.497077
to      0.387147
the     0.316648
of      0.298724
in      0.186404
with    0.144583
his     0.140998
that    0.130244
not     0.127854
my      0.126659
Name: Adam, dtype: float64

In [280]:
s = pd.Series(df.loc['Eve'])
s[s > 0].sort_values(ascending=False)[:10]

and     0.417380
to      0.393626
of      0.308793
the     0.278253
with    0.166273
thee    0.159486
thy     0.152700
not     0.149306
in      0.145913
me      0.128947
Name: Eve, dtype: float64