In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [2]:

files = ['sp/' + character for character in characters]
contents = [open(file, encoding='utf-8', errors='ignore').read() 
            for file in files]
files =

In [27]:
stopwords = ['and', 'to', 'of', 'the', 'in', 'with', 'his', 'that', 'not', 'my', 'me', 'thee', 'thy',
            'or', 'all', 'but', 'from', 'this', 'thou', 'our', 'what', 'by', 'so', 'as', 'be', 'us']
vectorizer = TfidfVectorizer(sublinear_tf=True, stop_words=stopwords)
tfidf_matrix = vectorizer.fit_transform(contents)
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()
denselist = dense.tolist()

In [28]:
df = pd.DataFrame(denselist, columns=feature_names, index=characters)
df

,abhor,abjure,able,abolish,abortive,abound,about,above,abraham,absence,...,yielded,yields,yoke,yon,yonder,younger,your,youth,zodiac,zone
Adam,0.013814,0.013814,0.023389,0.013814,0.013814,0.013814,0.016642,0.031425,0.013814,0.023455,...,0.009829,0.009829,0.013814,0.023389,0.023455,0.013814,0.009829,0.013814,0.013814,0.013814
Eve,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017326,0.017326,0.000000,0.017326,...,0.017326,0.017326,0.000000,0.000000,0.017326,0.000000,0.017326,0.000000,0.000000,0.000000

In [29]:
s = pd.Series(df.loc['Adam'])
s[s > 0].sort_values(ascending=False)[:10]

then        0.050551
which       0.050394
heavenly    0.050271
for         0.049907
her         0.049739
on          0.049217
will        0.047460
god         0.047460
we          0.047244
yet         0.047244
Name: Adam, dtype: float64

In [30]:
s = pd.Series(df.loc['Eve'])
s[s > 0].sort_values(ascending=False)[:10]

then       0.075667
for        0.075059
is         0.074429
on         0.071651
we         0.070075
shall      0.068341
it         0.066414
death      0.066414
have       0.066414
forbids    0.063542
Name: Eve, dtype: float64