In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from glob import glob

In [8]:
# Analyze a subset of characters
chars = ['narr', 'Adam', 'Eve', 'God', 'the_Son', 'Satan', 'Michael', 'Raphael']
files = ['sp/'+f for f in chars]

# Analyze all the characters
#files = glob.glob('sp/*')
#chars = [file[3:] for file in files]

In [10]:
vectorizer = TfidfVectorizer(input='filename', sublinear_tf=True)
tfidf_matrix = vectorizer.fit_transform(files)
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()

In [11]:
df = pd.DataFrame(dense, columns=feature_names, index=chars)
df

,101,aarons,abandon,abandoned,abarim,abashed,abassin,abated,abbana,abdiel,...,zealous,zenith,zephir,zephon,zephyr,zephyrus,zion,zodiac,zone,zophiel
narr,0.00974,0.00974,0.000000,0.00974,0.00974,0.025416,0.00974,0.00974,0.00974,0.017131,...,0.00974,0.016491,0.00974,0.016491,0.00974,0.00974,0.025416,0.000000,0.007044,0.000000
Adam,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.018848,0.013631,0.000000
Eve,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
God,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
the_Son,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
Satan,0.00000,0.00000,0.022246,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
Michael,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
Raphael,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.031820,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.013084,0.018092

In [12]:
df['and']

narr       0.031911
Adam       0.052919
Eve        0.074224
God        0.080275
the_Son    0.089571
Satan      0.058912
Michael    0.070478
Raphael    0.051445
Name: and, dtype: float64

In [13]:
s = pd.Series(df.loc['Adam'])
s[s > 0].sort_values(ascending=False)[:10]

and     0.052919
to      0.051037
the     0.049524
of      0.049086
my      0.047649
in      0.045536
we      0.045271
why     0.044315
with    0.043624
his     0.043435
Name: Adam, dtype: float64

In [14]:
s = pd.Series(df.loc['Eve'])
s[s > 0].sort_values(ascending=False)[:10]

and     0.074224
to      0.073476
of      0.070376
the     0.069046
our     0.065026
we      0.064631
my      0.062825
with    0.062471
thee    0.061938
thy     0.061383
Name: Eve, dtype: float64