In [2]:
import pandas as pd
import glob
import matplotlib as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,4)
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
# Analyze a subset of characters
chars = ['narr', 'Adam', 'Eve', 'God', 'the_Son', 'Satan', 'Michael', 'Raphael']
files = ['sp/'+f for f in chars]

# Analyze all the characters
#files = glob.glob('sp/*')
#chars = [file[3:] for file in files]

In [4]:
cv = CountVectorizer(input='filename')
sparse = cv.fit_transform(files)
dense = sparse.todense()
featureNames = cv.get_feature_names()

In [5]:
df=pd.DataFrame(dense, index=chars, columns=featureNames)

In [6]:
df

,101,aarons,abandon,abandoned,abarim,abashed,abassin,abated,abbana,abdiel,...,zealous,zenith,zephir,zephon,zephyr,zephyrus,zion,zodiac,zone,zophiel
narr,1,1,0,1,1,5,1,1,1,3,...,1,2,1,2,1,1,5,0,1,0
Adam,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
Eve,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
God,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
the_Son,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Satan,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Michael,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Raphael,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,1,1

In [7]:
df1 = df.add(1) # Add 1 to everything so we avoid dividing by zero. 
df2 = (df1 / ( df1.sum() - df1 ) ) # Divide each count by the sum of the others.

In [8]:
def getDistinctiveWords(char, n=10):
    print(df2.loc[char].sort_values(ascending=False)[:n])

In [9]:
for char in chars: 
    print('\n  --- %s ---\n' % char)
    getDistinctiveWords(char)

  --- narr ---

replied    3.727273
fiend      3.125000
sat        3.100000
eve        2.617647
gate       2.300000
adam       2.263158
satan      2.172414
spake      1.916667
thus       1.850467
er         1.833333
Name: narr, dtype: float64

  --- Adam ---

us         0.793103
why        0.761905
bone       0.750000
sustain    0.750000
would      0.729730
my         0.718121
dust       0.687500
approve    0.666667
need       0.642857
rib        0.625000
Name: Adam, dtype: float64

  --- Eve ---

forbids       0.600000
early         0.500000
tasted        0.454545
firmness      0.428571
dreamed       0.428571
glistering    0.428571
earliest      0.428571
endued        0.400000
help          0.400000
chiefly       0.384615
Name: Eve, dtype: float64

  --- God ---

redeem        0.625000
heir          0.500000
decree        0.466667
dye           0.444444
friend        0.444444
breaks        0.428571
disobeys      0.428571
loosing       0.428571
vicegerent    0.428571
mercy         0.384615
Name: God, dtype: float64

  --- the_Son ---

shalt       0.500000
redeemed    0.428571
yielding    0.428571
mitigate    0.375000
absent      0.375000
taken       0.375000
multiply    0.363636
sapphire    0.333333
faint       0.333333
hymns       0.333333
Name: the_Son, dtype: float64

  --- Satan ---

your        1.764706
you         0.916667
counsels    0.750000
ye          0.700000
hazard      0.666667
farewell    0.625000
ambition    0.600000
contend     0.555556
imperial    0.545455
infernal    0.533333
Name: Satan, dtype: float64

  --- Michael ---

nations       0.818182
faith         0.761905
law           0.700000
temperance    0.625000
ark           0.600000
salvation     0.571429
covenant      0.555556
shall         0.473988
add           0.454545
liberty       0.454545
Name: Michael, dtype: float64

  --- Raphael ---

mid          0.769231
armour       0.750000
motion       0.727273
sixth        0.714286
sung         0.705882
stars        0.684211
cloudy       0.666667
mountains    0.636364
seventh      0.625000
trumpet      0.625000
Name: Raphael, dtype: float64