In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from glob import glob

In [8]:
# Analyze a subset of characters
chars = ['narr', 'Adam', 'Eve', 'God', 'the_Son', 'Satan', 'Michael', 'Raphael']
files = ['sp/'+f for f in chars]

# Analyze all the characters
#files = glob.glob('sp/*')
#chars = [file[3:] for file in files]

In [16]:
vectorizer = TfidfVectorizer(input='filename', sublinear_tf=True, stop_words='english')
tfidf_matrix = vectorizer.fit_transform(files)
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()

In [17]:
df = pd.DataFrame(dense, columns=feature_names, index=chars)
df

,101,aarons,abandon,abandoned,abarim,abashed,abassin,abated,abbana,abdiel,...,zealous,zenith,zephir,zephon,zephyr,zephyrus,zion,zodiac,zone,zophiel
narr,0.010094,0.010094,0.000000,0.010094,0.010094,0.02634,0.010094,0.010094,0.010094,0.017753,...,0.010094,0.017091,0.010094,0.017091,0.010094,0.010094,0.02634,0.000000,0.007300,0.000000
Adam,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.020618,0.014911,0.000000
Eve,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
God,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
the_Son,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
Satan,0.000000,0.000000,0.024633,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
Michael,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
Raphael,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.034171,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.014051,0.019429

In [19]:
s = pd.Series(df.loc['Adam'])
s[s > 0].sort_values(ascending=False)[:10]

sustain    0.045090
bone       0.045090
thou       0.044417
thee       0.043673
timely     0.043269
thy        0.042731
prime      0.041628
absence    0.041234
rib        0.041234
feel       0.040259
Name: Adam, dtype: float64

In [20]:
s = pd.Series(df.loc['Eve'])
s[s > 0].sort_values(ascending=False)[:10]

thee          0.071188
thy           0.070549
forbids       0.069358
thou          0.068068
early         0.064642
earliest      0.062229
dreamed       0.062229
firmness      0.062229
glistering    0.062229
sweet         0.060770
Name: Eve, dtype: float64